/* Портфолио Проекты */

.project-link {
  text-decoration: none;
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-function);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project {
  &-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
  }

  &-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: var(--main-text-color);
  }

  &-thumb {
    position: relative;
    display: block;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.projects {
  &-card {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &-set {
    padding: 0;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      margin-left: calc(-1 * var(--card-set-gap));
      margin-top: calc(-1 * var(--card-set-gap));
    }
  }

  &-set-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      margin-top: var(--card-set-gap);
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - var(--card-set-gap));
    }
  }

  &-overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 294px;
    left: 0;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(100%);
    transition: transform var(--animation-time) var(--animation-function),
      opacity var(--animation-time) var(--animation-function);
  }
}

.project-link:hover .projects-overlay,
.project-link:focus .projects-overlay {
  opacity: 1;
  transform: translatey(0);
}
