/* Портфолио Кнопки фильтры */

.filters {
  background-color: var(--primary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-style: normal;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;

  transition: color var(--animation-time) var(--animation-function),
    background-color var(--animation-time) var(--animation-function),
    box-shadow var(--animation-time) var(--animation-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.buttons-set {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &-item:not(:first-child) {
    margin-left: 8px;
  }

  &-item:nth-child(4) {
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  &-item:nth-child(n + 4) {
    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }
  }
}
